@font-face {
  font-family: "Muli-Regular";
  src: url("../../fonts/Muli-Regular.woff") format("woff");
}
@font-face {
  font-family: "Muli-Italic";
  src: url("../../fonts/Muli-Italic.woff") format("woff");
}
