@import "./nullstyles.scss";
@import "./variables.scss";
@import "./fonts.scss";
@import "./mixins.scss";

html {
  font-family: "Muli-Regular";
  font-size: $fs-base;
  background: #17171e;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1920px;
  padding-left: 30px;
  margin: 0px auto;
  box-sizing: content-box;

  @media (max-width: 767px) {
    padding-left: 10px;
  }
}

.header {
  width: 100%;
  margin-bottom: 2.605%;
  &__container {
    display: flex;
    min-height: 64px;
    align-items: center;
    justify-content: space-between;
  }
  &__search {
    display: flex;
    align-items: center;
    flex: 0 1 1053px;
    position: relative;
  }
  &__icon {
    position: absolute;
    right: 10px;
    margin-right: 10px;
    background: url("../../icons/search.svg");
    width: 19px;
    height: 19px;
  }
  &__column {
    display: flex;
    align-items: center;
    flex: 1 1 835px;
    justify-content: flex-end;
  }
  &__burger {
    margin-right: 28px;
    background: url("../../icons/burger-white.svg");
    min-width: 20px;
    min-height: 17px;

    @media (max-width: 767px) {
      display: none;
    }
  }
  &__logo {
    margin-right: 60px;
    svg {
      path:last-child {
        fill: white;
      }
    }
  }
  &__input {
    display: block;
    background: #ebebeb;
    color: $c-blue-light;
    padding: 12px 2px 12px 23px;
    opacity: 0.3;
    border-radius: 22px;
    flex: 0 1 830px;

    @media (max-width: 767px) {
      display: none;
    }
  }
  &__menu {
    margin-right: 70px;

    @media (max-width: 767px) {
      margin-right: 10px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }

    button {
      background: blue;
      color: $c-white;
      padding: 3px 5px;
      border-radius: 10px;
    }

    @media (max-width: 767px) {
      &:not(:last-child) {
        display: none;
      }
    }

    svg {
      path {
        stroke: none;
      }
      path:first-child {
        fill: white;
        opacity: 0.4;
      }
    }
  }
}

.main {
  max-width: 1920px;
  &__container {
    display: flex;
  }
  @media (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.aside {
  flex: 0 0 225px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 767px) {
    display: none;
  }
  &__lists {
    color: $c-grey-dark;
    margin-bottom: 105px;
  }

  &__list {
    margin-bottom: 60px;
    svg {
      path {
        fill: white;
      }
      margin-right: 13px;
    }
  }

  &__subs {
  }

  &__settings {
    color: $c-grey-light;
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      margin-right: 12.3px;
      path {
        fill: $c-white;
      }
    }
  }
}
.list {
  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 29px;
    }

    img {
      margin-right: 13px;
      width: 20px;
    }
    svg {
      margin-right: 13px;
      width: 20px;
      path {
        fill: white;
      }
    }

    &_active {
      color: $c-red;
    }
  }
}
.subs {
  h3 {
    font-size: $fs-medium;
    color: $c-white;

    font-weight: $fw-bold;
    line-height: 23px;
    margin-bottom: 30px;
  }
  &__list {
    color: $c-grey-dark;
  }

  &__item {
    display: flex;
    margin-bottom: 23px;
    align-items: center;
    cursor: pointer;

    img {
      margin-right: 10px;
    }
  }
}

.content {
  &__channel {
    margin-bottom: 20px;
  }

  &__recommended {
    margin-bottom: 20px;
  }
}

.channel {
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    justify-content: space-between;
    max-width: 1516px;
    margin-bottom: 30px;
    margin-right: 30px;
  }

  &__title {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      margin-right: 20px;
    }

    p {
      margin-left: 19px;
      color: $c-grey-light;
      @media (max-width: 542px) {
        display: none;
      }
    }
  }

  &__arrows {
    img {
      cursor: pointer;
    }
    @media (max-width: 1060px) {
      display: none;
    }
  }

  &__body {
  }

  &__list {
    display: flex;
    // flex-wrap: wrap;
    @media (max-width: 1919px) {
      flex-wrap: wrap;
    }
    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  &__item {
    padding-bottom: 30px;
  }

  &__subscribe {
    display: flex;
    align-items: center;
    @media (max-width: 542px) {
      display: none;
    }
  }

  &__button {
    button {
      background: #ff0000;
      border-radius: 20px;
      color: $c-white;
      text-align: center;

      line-height: 20px;
      height: 40px;
      width: 154px;
    }
    margin-right: 40px;
  }
}
.item {
  height: 230px;

  @media (max-width: 576px) {
    width: 100%;
  }
  @media (min-width: 577px) and (max-width: 1142px) {
    width: 50%;
  }
  &:not(:last-child) {
    margin-right: 40px;
  }
  @media (max-width: 1142px) {
    &:not(:last-child) {
      margin-right: 0px;
    }
    padding-right: 10px;
  }
  &__img {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    height: 150px;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: fill;
    }
  }

  &__time {
    background: rgba($color: #000000, $alpha: 0.3);
    border-radius: 12px;
    color: $c-white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 47px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  &__title {
    color: $c-grey-light;
    font-size: $fs-x-small;

    h3 {
      color: $c-white;
      font-weight: $fw-bold;
      margin-bottom: 4px;

      line-height: 20px;
    }
  }

  &__description {
    display: flex;
    justify-content: space-between;
    font-size: $fs-x-small;
    line-height: 16px;
    max-height: 16px;
    white-space: nowrap;
  }
}
h2 {
  color: $c-white;
  font-size: $fs-large;
  line-height: 33px;
  font-weight: $fw-bold;
}
h3 {
  font-size: $fs-base;
}
.recommended {
  &__header {
    display: flex;
    justify-content: space-between;
    max-width: 1516px;
    margin-right: 30px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__arrows {
    img {
      cursor: pointer;
    }
    @media (max-width: 1060px) {
      display: none;
    }
  }

  &__body {
  }

  &__items {
    display: flex;
    @media (max-width: 1060px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    margin-bottom: 30px;
    height: 230px;
    width: 100%;
    &:not(:last-child) {
      margin-right: 40px;
    }
    @media (max-width: 1142px) {
      &:not(:last-child) {
        margin-right: 0px;
      }
      padding-right: 10px;
    }
  }

  &__item-img {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    height: 150px;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: fill;
    }
  }

  &__item-time {
    background: rgba($color: #000000, $alpha: 0.3);
    border-radius: 12px;
    color: $c-white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 47px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  &__item-title {
    color: $c-grey-light;
    font-size: $fs-x-small;

    h3 {
      color: $c-white;
      font-weight: $fw-bold;
      margin-bottom: 4px;

      line-height: 20px;
    }
  }

  &__item-description {
    display: flex;
    justify-content: space-between;
    font-size: $fs-x-small;
    line-height: 16px;
    max-height: 16px;
    white-space: nowrap;
  }
}

///////////////////////////////////////////
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 61px;
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
  &__container {
    background: #17171e;
    border-top: 1px solid #f1f1f1;
    padding: 11px 24px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $fs-tiny;
    line-height: 13px;
    color: $c-grey-dark;
    cursor: pointer;
    &:first-child {
      color: $c-red;
    }
    img {
      margin-bottom: 4px;
    }
    svg {
      margin-bottom: 4px;
      path {
        fill: $c-white;
      }
    }
    &_active {
    }
  }
}
