//colors
$c-white: #ffffff;
$c-black: #000000;
$c-red: #ff0000;
$c-grey-light: #c2c2c2;
$c-grey-dark: #898989;
$c-blue-dark: #19202c;
$c-blue-semi-dark: #192646;
$c-blue-light: #30384c;
//font-weigth
$fw-bold: 800;

//font-size
$fs-base: 16px;

$fs-tiny: 0.625rem;
$fs-small: 0.75rem;
$fs-x-small: 0.8125rem;
$fs-xx-small: 0.875rem;
$fs-medium: 1.125rem;
$fs-x-medium: 1.25rem;
$fs-large: 1.625rem;
