@import "./nullstyles.scss";
@import "./variables.scss";
@import "./fonts.scss";
@import "./mixins.scss";

html {
  font-family: "Muli-Regular";
  font-size: $fs-base;
  background: #17171e;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  margin-bottom: 2.605%;
  @media (max-width: 767px) {
    margin-bottom: 23px;
  }
  &__container {
    display: flex;
    min-height: 64px;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 1833px;
    margin-left: 22px;
    padding-right: 15px;
    @media (max-width: 767px) {
      min-height: 37px;
    }
  }
  &__search {
    display: flex;
    align-items: center;
    flex: 0 1 1053px;
    position: relative;
  }
  &__icon {
    position: absolute;
    right: 10px;
    margin-right: 10px;
    background: url("../../icons/search-white.svg");
    width: 19px;
    height: 19px;
  }
  &__column {
    display: flex;
    align-items: center;
    flex: 1 1 835px;
    justify-content: flex-end;
    margin-bottom: 2px;
  }
  &__burger {
    margin-right: 28px;
    background: url("../../icons/burger-white.svg");
    min-width: 20px;
    min-height: 17px;

    @media (max-width: 767px) {
      display: none;
    }
  }
  &__logo {
    margin-right: 60px;
    svg {
      path:last-child {
        fill: white;
      }
    }
  }
  &__input {
    display: block;
    background: rgba($color: #ebebeb, $alpha: 0.1);
    color: rgba($color: $c-white, $alpha: 0.4);
    padding: 12px 2px 12px 23px;
    border-radius: 22px;
    flex: 0 1 830px;

    @media (max-width: 767px) {
      display: none;
    }
  }
  &__menu {
    @media (max-width: 767px) {
      margin-right: 10px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }

    button {
      background: $c-red;
      color: $c-white;
      padding: 3px 5px;
      border-radius: 10px;
    }

    @media (max-width: 767px) {
      &:not(:last-child) {
        display: none;
      }
      img {
        width: 30px;
        height: 30px;
      }
    }
    svg {
      path {
        stroke: none;
      }
      path:first-child {
        fill: white;
        opacity: 0.4;
      }
    }
  }
}

.container {
  max-width: 1770px;
  margin: 0px auto;
  box-sizing: content-box;
  padding: 0 15px;
}

.main {
  max-width: 100%;
  &__container {
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
}

//////////////////////////////////

.main {
  @media (max-width: 767px) {
    margin-bottom: 60px;
  }
  &__video {
    flex: 0 1 1414px;
    padding-right: 50px;
    @media (max-width: 767px) {
      flex: 0 1 auto;
      padding-right: 0;
    }
  }

  &__next {
    @media (max-width: 767px) {
      margin-top: 20px;
    }
    max-width: 100%; //добавил
  }

  &__line {
    background: rgba(216, 216, 216, 0.5);
    max-width: 1363px;
    height: 1px;
    margin-bottom: 38px;
    display: none;

    @media (max-width: 767px) {
      margin-bottom: 20px;
      display: inline;
    }
  }
}
.video {
  &__player {
    margin-bottom: 20px;

    video {
      max-width: 100%;
    }
  }

  &__footer {
  }

  &__title {
  }

  &__name {
    h1 {
      font-size: 36px;
      line-height: 45px;
      color: $c-white;
      font-weight: $fw-bold;
      @media (max-width: 767px) {
        font-size: $fs-x-medium;
        line-height: 25px;
      }
    }
    margin-bottom: 14px;
  }

  &__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__views {
    font-size: $fs-x-medium;
    line-height: 25px;
    color: $c-grey-light;

    @media (max-width: 767px) {
      font-size: $fs-small;
      line-height: 15px;
      padding-bottom: 20px;
    }
  }

  &__ratings {
    line-height: 20px;
    color: $c-blue-semi-dark;
  }

  &__line {
    background: rgba(216, 216, 216, 0.5);
    max-width: 1363px;
    height: 1px;
    margin-bottom: 38px;
    &:first-child {
      display: none;

      @media (max-width: 767px) {
        display: inline;
      }
    }

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__description {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      padding-bottom: 20px;
    }
  }
}
.ratings {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
  }

  &__item {
    background: rgba($color: $c-white, $alpha: 0.1);
    mix-blend-mode: normal;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    color: $c-white;
    &:not(:last-child) {
      margin-right: 10px;
    }
    svg {
      margin-right: 8px;
      path {
        fill: white;
      }
    }
    @media (max-width: 767px) {
      &:last-child {
        display: none;
      }
    }
  }

  &__settings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    svg {
      path {
        fill: white;
      }
    }
  }
}
.description {
  &__column {
    flex: 0 1 912px;
    display: flex;
  }

  &__image {
    margin-right: 12px;
    @media (max-width: 767px) {
      a {
        img {
          max-width: 50px;
        }
      }
    }
  }

  &__content {
  }

  &__title {
    font-size: $fs-large;
    line-height: 33px;
    font-weight: $fw-bold;
    color: $c-white;
    padding-bottom: 4px;
  }

  &__published {
    font-size: $fs-x-small;
    line-height: 16px;
    color: $c-white;
    opacity: 0.4;
    padding-bottom: 14px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__about {
    line-height: 22px;
    color: $c-white;
    mix-blend-mode: normal;
    opacity: 0.6;
    padding-bottom: 15px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__show-more {
    font-size: $fs-x-medium;
    line-height: 25px;
    color: $c-grey-light;
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__subscribe {
    button {
      background: #ff0000;
      border-radius: 20px;

      line-height: 20px;
      text-align: center;
      color: $c-white;
      width: 154px;
      height: 40px;

      @media (max-width: 767px) {
        // background: $c-white;
        // color: $c-red;
      }
    }
  }
}
.next {
  width: 367px;
  @media (max-width: 767px) {
    align-self: center;
    width: 100%;
    margin-bottom: 61px;
  }
  &_autoplay {
    flex: 0 1 146px;

    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $c-white;
    display: flex;
    align-items: center;
    font-weight: $fw-bold;
    justify-content: flex-end;

    @media (max-width: 1024px) {
      font-size: $fs-tiny;
      line-height: 13px;
      letter-spacing: 0.625px;
    }

    &::after {
      content: "";
      margin-left: 29px;
      height: 24px;
      width: 24px;
      display: block;
      border-radius: 50%;
      background: #000;
      background: #2196f3;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.237602);

      @media (max-width: 1024px) {
        width: 16.36px;
        height: 16.36px;
        margin-left: 22px;
      }
    }
  }

  &__header {
    padding-bottom: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 36px;
    line-height: 45px;
    font-weight: $fw-bold;
    color: $c-white;

    @media (max-width: 1024px) {
      font-size: $fs-x-medium;
      line-height: 25px;
    }
  }

  &__content {
  }

  &__list {
  }

  &__item {
  }
}
.item {
  @media (max-width: 767px) {
    width: 100%;
  }
  &:not(:last-child) {
    margin-bottom: 23px;
  }
  &__img {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
    height: 11vw;
    @media (max-width: 767px) {
      height: 46.875vw;
    }
    video {
      height: 100%;
      width: 100%;
      object-fit: fill;
    }
  }

  &__time {
    background: rgba($color: #000000, $alpha: 0.3);
    border-radius: 12px;
    color: $c-white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 47px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  &__title {
    color: $c-grey-light;
    font-size: $fs-x-small;

    h3 {
      color: $c-white;
      font-weight: $fw-bold;
      margin-bottom: 11px;
      font-size: $fs-large;
      line-height: 33px;

      @media (max-width: 767px) {
        font-size: $fs-base;
      }
    }
  }

  &__description {
    display: flex;
    justify-content: space-between;
    font-size: $fs-medium;
    line-height: 23px;
  }
}

///////////////////////////////////////////
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 61px;
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
  &__container {
    background: #17171e;
    border-top: 1px solid #f1f1f1;
    padding: 11px 24px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $fs-tiny;
    line-height: 13px;
    color: $c-grey-dark;
    cursor: pointer;
    &:first-child {
      color: $c-red;
    }
    img {
      margin-bottom: 4px;
    }
    svg {
      margin-bottom: 4px;
      path {
        fill: $c-white;
      }
    }
    &_active {
    }
  }
}
